body {
	margin: 0;
	padding: 0;
	background: url(../../images/bg.jpg) repeat;
}

#inputArea{
	background-color: #c6fab8;
	padding: 10px;
  	width: 400px;
  	margin-top: 25px;
	margin-left: auto; 
	margin-right: auto;
	text-align: center;
}

#loadingNewNoteArea{
	background-color: #fd3131;
	padding: 10px;
  	width: 400px;
  	margin-top: 25px;
	margin-left: auto; 
	margin-right: auto;
	text-align: center;
	font-size: 20px;
	color: #FFFFFF;
}

#container {
	width: 100%;
	height: 100%;
	margin: 25px;
}

.text{
	background-color: white;
	border: 1px solid #DDD;
	border-top: 1px solid #CDCDCD;
	padding: 10px;
  	width: 250px;
	font-size: 16px;
	font-family: verdana,arial;
	margin: 0px;
	margin-right: 10px;
}

.label{
	color: #000000;
	text-align: left;
	padding: 10px;
	font-size: 100%;
	font-weight: bold;
	font-family: verdana,arial;
}

.start{
	background-color: #008000;
	color: #FFFFFF;
	font-size: 16px;
	border: 1px solid #FFFFFF;
	padding: 10px;
	width: 100px;
}

.add{
	background-color: #008000;
	color: #FFFFFF;
	font-size: 16px;
	border: 1px solid #FFFFFF;
	padding: 10px;
	width: 100px;
}

.item{
	background-color: #fef49c;
	padding: 10px;
	width: 280px;
  	margin: 10px;
  	float: left;
}

#note_elements{
	height: 80px;
	margin: 0px;
	padding: 0px;
}

.item .feature{
	font-weight: bold;
	text-align: justify;
	font-family: verdana,arial;
	margin-bottom: 10px;
}

.item .votes{
	text-align: left;
}

.item .votes span{
	font-weight: bold;
	color: #008000;
}

.item .choice{
	text-align: center;
}

.item .choice select {
	width: 100%;
}

